/*Universal Styles*/

body {
    font-family: "Helvetica", sans-serif;

  }

.container {
    max-width: 960px;
    margin: 0 auto;
    font-size: 18px;
}

/*Header*/

header {
  display: inline-flex;
  align-items: center;
  background-color: black;
  color: white;
  font-size: 1rem;
  width: 100%;

}

.logo {
  padding: 0.66rem 1rem 0.66rem 0.5rem;
  align-items: center;
}

.logo img {
    height: 1.5rem;
}


/*Hero*/

.hero {
  background-image: url(../images/moto.jpeg);
  height: 25rem;
  width: auto;
}



/*Nav*/
nav {
  width: auto;
  background-color: firebrick;

}

nav span {

}



/*Footer*/

footer {

}

.copyright {

}
